<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AgentHelper.WinFormsUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CiscoAgentHelper.WinFormsUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <AgentHelper.WinFormsUI.Properties.Settings>
            <setting name="ShowMinimizeNotification" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IdleMinsBeforeLoggingOut" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CiscoPassword" serializeAs="String">
                <value>123456</value>
            </setting>
            <setting name="LogInAfterIdle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CiscoAgentExeFileLocation" serializeAs="String">
                <value>C:\Program Files (x86)\Cisco\Desktop\bin\agent.exe</value>
            </setting>
            <setting name="LogInAfterIdleToStatus" serializeAs="String">
                <value>NotReady</value>
            </setting>
            <setting name="ChangeStatusOnScreenLock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChangeStatusOnScreenLockTo" serializeAs="String">
                <value>NotReady</value>
            </setting>
            <setting name="ChangeStatusOnScreenUnlock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChangeStatusOnScreenUnlockTo" serializeAs="String">
                <value>NotReady</value>
            </setting>
            <setting name="LogInOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogInOnStartupTo" serializeAs="String">
                <value>NotReady</value>
            </setting>
            <setting name="LogOutAndCloseAgentOnShutDown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogOutOnIdle" serializeAs="String">
                <value>False</value>
            </setting>
        </AgentHelper.WinFormsUI.Properties.Settings>
        <CiscoAgentHelper.WinFormsUI.Properties.Settings>
            <setting name="ShowMinimizeNotification" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AgentLogFilePath" serializeAs="String">
                <value>C:\Program Files (x86)\Cisco\Desktop\log\Agent0001.log</value>
            </setting>
        </CiscoAgentHelper.WinFormsUI.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
